.div {
  animation: anim 1.5s ease-out infinite;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-gray);
}

@keyframes anim {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
